<<<<<<< HEAD
<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="csrf-token" content="<%= csrfToken %>" />
    <title><%= title %></title>
    <style>
      a,
      a:visited {
        color: #0066cc;
      }

=======
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="csrf-token" content="<%= csrfToken %>">
    <title><%= title %></title>
    <style>
      a:hover {
        background-color: #e0e6f6;
      }
      
      a:visited:hover {
        background-color: #e7e0f6;
      }
      
>>>>>>> upstream/main
      .pagination {
        list-style-type: none;
        padding: 0;
      }
<<<<<<< HEAD

      .pagination li {
        display: inline-block;
      }

=======
      .pagination li {
        display: inline-block;
      }
>>>>>>> upstream/main
      .pagination li a {
        display: block;
        padding: 0.5em 1em;
        text-decoration: none;
      }
<<<<<<< HEAD

=======
>>>>>>> upstream/main
      .pagination li.active a {
        background-color: #58739c;
        color: #fff;
      }
<<<<<<< HEAD

=======
      
>>>>>>> upstream/main
      table {
        border-collapse: collapse;
        border: 1px solid #ccc;
      }
<<<<<<< HEAD

      table td,
      table th {
        border: 1px solid #ccc;
        padding: 0.25em 0.5em;
      }

      th.active {
        background-color: #cccccc;
      }

=======
      table.striped tr:nth-child(even) {
        background-color: #eaeaea 
      }
      table td, table th {
        border: 1px solid #ccc;
        padding: 0.25em 0.5em;
      }
      th.active {
        background-color: #e0e6f6;
      }
>>>>>>> upstream/main
      td.actions {
        padding: 0;
        width: 0;
        text-align: center;
      }
<<<<<<< HEAD

=======
>>>>>>> upstream/main
      td.actions a {
        text-decoration: none;
        background-color: transparent;
        padding: 0.5em;
        height: 100%;
        width: 100%;
      }
<<<<<<< HEAD

      td.actions:hover {
        background-color: #cccccc;
      }

=======
      td.actions:hover {
        background-color: #e0e6f6;
      }
      
>>>>>>> upstream/main
      @media (max-width: 600px) {
        table {
          width: 100%;
        }
<<<<<<< HEAD
        table td,
        table th {
=======
        table td, table th {
>>>>>>> upstream/main
          display: block;
          width: 100%;
        }
      }
    </style>
<<<<<<< HEAD
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  </head>
  <body style="font-family: sans-serif; background-color: #1a1a1a; padding: 1rem; color: #dddddd">
    <%- include("partials/shared_flash", { flashData: flash }) %>
  </body>
</html>
=======
  </head>
  <body style="font-family: sans-serif; background-color: #f0f0f0; padding: 1em;">
    <%- include("partials/shared_flash", { flashData: flash }) %>
      
    
>>>>>>> upstream/main
